<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content is-size-6">
        <p><b>{{ card.name }}</b></p>
        <p><i>{{ card.subtitle }}</i></p>
      </div>
    </div>

    <div class="content ">
     {{ card.description }}
    </div>
  </div>
</div>