<section class="hero is-fullheight" id="contact">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <h1 class="title">Contact</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column">
                    <p class="is-size-5 has-text-grey mb-4">
                        If you are interested in supporting or joining our effort, reach out to us.
                    </p>
                    <p class="is-size-5 has-text-grey">

                        Contact:<br/> Kadek Ananta Satriadi, PhD<br/> badhi.program[at]gmail.com

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>