<section class="hero is-fullheight" id="contact">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <h1 class="big-title">Team</h1>
                    <h2 class="subtitle"></h2>
                    <p class="is-size-6">
                        If you are interested in supporting or joining our effort, please reach out to us.
                    </p>
                    <p class="is-size-6">
                        Kadek Ananta Satriadi, PhD<br/>
                        badhi.program[at]gmail.com
                    </p>
                    <p class="is-size-6 card p-3 mt-4">
                       If you are interested in <b>PhD</b> around this topic, let use know by sending an expression of interest <a href="https://supervisorconnect.it.monash.edu/projects/research/visualisation-technology-cultural-heritage-preservation" target="_blank"> here</a>.
                    </p>
                    <p class="is-size-6 mt-4 mb-4">
                        Several related links:<br/>
                    </p>
                    <div class="mb-3">
                        <a href="https://aksalont.mudratech.org/" target="_blank" class="is-size-5">AKSALont</a><br/>
                        <small>Automatic Transliteration Application for Balinese Palm Leaf Manuscripts.</small>
                    </div>
                    <div class="mb-3">
                        <a href="https://www.virtualangkor.com/" target="_blank" class="is-size-5">Virtual Angkor</a><br/>
                        <small>Digitalisation of Angkor Wat temple. A past project of Dr. Chandler.</small>
                    </div>
                    <div class="mb-3">
                        <a href="https://research.undiksha.ac.id/vvip-rg/" target="_blank" class="is-size-5">VVIP Research Group</a><br/>
                        <small>Research group at Universitas Pendidikan Ganesha led by Dr. Kesiman.</small>
                    </div>
                    <div class="mb-3">
                        <a href="https://www.monash.edu/it/hcc/embodied-visualisation" target="_blank" class="is-size-5">Embodied Visualisation Group</a><br/>
                        <small>Research group at Monash University.</small>
                    </div>

                    
                </div>
                <div class="column is-two-thirds">
                    {% include "team.njk" %}
                </div>
            </div>
        </div>
    </div>
</section>