<style>
  .logo {
    width: 690px;
  }
</style>
<section class="hero is-fullheight" id="home" >
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="is-flex is-justify-content-center is-align-items-center ">
        <div style="text-align:center">
          <img class="logo" src="assets/badhi-logo-landscape.png" alt="Logo">
          <h1 class="title is-size-2 mt-2 has-text-black	">
            Bali Digital Heritage Initiative
          </h1>
          <h2 class="subtitle mt-6">
            Empower Balinese communities in the preservation of Balinese culture through responsible, sustainable, innovative, and collaborative digitisation efforts.
          </h2>
        </div>
      </div>
    </div>
    <img class="bg-dec-img" src="assets/badhi-half_1.svg" />

  </div>
</div>
</section>
<style>
.bg-dec-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 70%;
  z-index: -100;
}

/* Hide element below 768px (typical tablet breakpoint) */
@media screen and (max-width: 768px) {
  .bg-dec-img {
    display: none;
  }
}
</style>
