<style>
  .big-title {
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
  }
  #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  section {
    background: white;
  }
  .logo {
    width: 690px;
  }
</style>
<section class="hero is-fullheight" id="home" >
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container is-max-desktop">
      <div class="is-flex is-justify-content-center is-align-items-center ">
        <div style="text-align:center">
          <img class="logo" src="assets/badhi-logo-landscape.png" alt="Logo">
          <h1 class="title is-size-1 mt-2">
            Bali Digital Heritage Initiative
          </h1>
          <h2 class="subtitle mt-6">
            Empower Balinese communities in the preservation of Balinese culture through responsible, sustainable, innovative, and collaborative, digitisation efforts.
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
