<section class="hero is-fullheight" id="lontar">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <h1 class="title">Lontar</h1>
            <h2 class="subtitle"></h2>
            <p class="is-size-5">
                Community participation and advanced machine learning to preserve understanding Balinese lontar.
            </p>
            <p></p>
             <figure class="image mt-6">
                <img class="p-5" src="assets/Arjunawiwaha_canto_5.jpg"/>
            </figure>
        </div>
    </div>
</section>