<div class="container is-max-desktop" >

  <nav class="navbar p-2 pl-5 pr-5" role="navigation" aria-label="main navigation" style="position:fixed;top:0;border-bottom-left-radius:10px;border-bottom-right-radius:10px;">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="#home">
          BADHI
        </a>
        <a class="navbar-item" href="#about">
          About
        </a>
        <a class="navbar-item" href="#projects">
          Projects
        </a>
        <a class="navbar-item" href="#contact">
          Contact
        </a>
      </div>
    </div>
  </nav>
</div>