<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ '/' | url}}">
            <img class="logo" src="/assets/badhi-logo-landscape.png" alt="Logo">
        </a>
    </div>

    <div class="navbar-end">
        <a class="navbar-item" href="{{ '/' | locale_url }}">
                                {{ i18n[page.lang].nav.backtolanding }}
        </a>
    </div>
</div>
</nav>