<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html class="no-js"> <!--<![endif]-->
<html>
    {% include "head.njk" %}
    <body>
        <!--[if lt IE 7]> <p class="browsehappy"> You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience. </p> <![endif]-->
        <main>
            <section class="section">
                <div class="container mt-6">
                    <div class="content">
                        <div class="mb-6">
                            {% include "navbar-common.njk" %}
                        </div>

                        <section class="hero is-primary">
  <div class="hero-body">
    <p class="title is-size-1  has-text-primary-light">{{title}}</p>
    <p class="subtitle is-size-3  has-text-primary-light">{{subtitle}}</p>
  </div>
</section>
                       
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="container">
                    <div class="content">
                        {{content | safe}}
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>