<section class="hero is-fullheight">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">

                <div class="column">
                    <p class="is-size-5">
                        BADHI's projects focus on bringing positive impacts to Balinese. Our projects encompass both tangible and intangible aspects of Balinese culture. Our current focus is on the preservation of temples and lontar manuscripts. More information about our projects will be available soon.
                    </p>
                    <p class="is-size-5 mt-4 mb-4">
                        Several related links:<br/>
                    </p>

                    <div class="mb-3">
                        <a href="https://badhi-bali-temples-map.netlify.app//" target="_blank" class="is-size-5">Bali Temples Map</a><br/>
                        <small>A map of temples in Bali.</small>
                    </div>
                    <div class="mb-3">
                        <a href="https://www.virtualangkor.com/" target="_blank" class="is-size-5">Virtual Angkor</a><br/>
                        <small>Digitalisation of Angkor Wat temple. A past project of Dr. Chandler.</small>
                    </div>
                    <div>
                        <a href="https://research.undiksha.ac.id/vvip-rg/" target="_blank" class="is-size-5">VVIP Research Group</a><br/>
                        <small>Research group at Universitas Pendidikan Ganesha led by Dr. Kesiman.</small>
                    </div>
                </div>

                <div class="column is-right">
                    <h1 class="title" style="text-align: right;">Projects</h1>
                    <h2 class="subtitle"></h2>
                </div>
            </div>
        </div>
    </div>
</section>