<section
    class="hero is-fullheight" id="projects">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Heritages</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="is-size-5">
                        BADHI's projects aim to create lasting value for the Balinese people through cultural preservation. 
                        Our work spans both tangible and intangible heritage, with current projects focused on temple digital archival and lontar manuscript conservation.
                    </p>
                </div>
            </div>
            <div class="mb-5 mt-5">
                <h1 class="title">Temples</h1>
                <figure class="image mt-4">
                    <a href="https://map.badhi.id" target="_blank" title="Bali Temples Map">
                        <img class="img" src="assets/pexels-elina-sazonova-1850547-2.jpg"/>
                    </a>
                </figure>
                <div class="content mt-3">
                    For centuries, Bali's ancient temples have faced destruction and rebuilding processes. We are creating sustainable solutions to preserve Balinese temples for generations to come.
                    We are currently undertaking the "<a href="/projects/participatory-digital-archiving"  title="Participatory Digital Archiving">Participatory Digital Archiving</a>" project. 
                </div>
                
            </div>

            <div>
                <h1 class="title">Lontar</h1>
                <figure class="image mt-4">
                    <a href="https://map.badhi.id" target="_blank" title="Bali Temples Map">
                        <img src="assets/Arjunawiwaha_canto_5.jpg"/>
                    </a>
                </figure>
                <div class="content mt-3">
                    Ancient Balinese palm leaf manuscripts hold centuries of sacred texts, history, and cultural knowledge. Their preservation is vital to protect this irreplaceable heritage for future generations. We explore responsible machine learning techniques to safeguard and interpret the knowledge contained in traditional Balinese palm leaf manuscripts.
                </div>
            </div>
        </div>
    </div>
</section>