<section class="hero is-fullheight" id="projects">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <h1 class="big-title">Projects</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="is-size-5">
                        BADHI's projects focus on bringing positive impacts to Balinese. Our projects encompass both tangible and intangible aspects of Balinese culture. Our current focus is on the preservation of temples and lontar manuscripts.
                    </p>

                </div>

            </div>
        </div>
    </div>
</section>