<div class="card team-card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="is-size-5 team-card-name"><b>{{ card.name }}</b></p>
        <p class="is-size-6">{{ card.lab }}</p>
        <p class="is-size-6">{{ card.institution }}</p>
      </div>
    </div>

    <div class="is-size-7 is-fixed-bottom">
     {{ card.description }}
    </div>

    <img class="team-card-dec" src="assets/badhi-half.png" />
  </div>
</div>
