<section class="hero is-fullheight" id="about">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Team</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
BADHI is mainly led by the collaboration between the <a href="https://www.monash.edu/it/hcc/embodied-visualisation" target="_blank">Embodied Visualisation Research Group</a> (<b>EmVis</b>) at Monash University and the <a href="https://research.undiksha.ac.id/vvip-rg/" target="_blank">Virtual Vision, Image, and Pattern Research Group</a> (<b>VVIP</b>) at the Universitas Pendidikan Ganesha. In the Participatory Digital Archiving of Balinese Temple project, we collaborate with recordkeeping experts at the <a href="https://www.monash.edu/it/hcc/digital-transformation" target="_blank">Digital Transformation Research Group </a>(Monash University) and action research experts at the <a href="https://www.monash.edu/it/hcc/action-lab" target="_blank"> Action Lab </a>(Monash University).                
</div>
            </div>
                {% include "team-member.njk" %}
        </div>
    </div>
</section>
