<section class="hero is-fullheight" id="map">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <h1 class="title">Temples</h1>
            <p class="is-size-5">
                An interactive map depicting the locations of documented temples across Bali.
                Go to the <a href="https://map.badhi.id" target="_blank" title="Bali Temples Map">map</a>. 
            </p>
            <p></p>
            <figure class="image mt-4">
                <a href="https://map.badhi.id" target="_blank" title="Bali Temples Map">
                <img class="img" src="assets/peta-pura-bali.png"/>
                </a>
            </figure>
        </div>
    </div>
</section>
