<section class="hero is-fullheight" id="archive">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <h1 class="title">Participatory Digital Archiving</h1>
            <h2 class="subtitle"></h2>
            <p class="is-size-5">
                Community participation and advanced 3D reconstruction to archive Balinese temples.  Go to the <a href="/projects/participatory-digital-archiving"  title="Participatory Digital Archiving">page</a>. 

            </p>
            <p></p>
            <figure class="image is-16by9 mt-4">
                <iframe  class="img" class="has-ratio" width="100%" height="560" src="./assets/bg720.webm" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </figure>
            <p>This project is funded by the <a href="https://www.monash.edu/it/whyte-fund/home" target="_blank">Whyte Fund Monash University</a>.</p>
        </div>
    </div>
</section>
