<section class="hero is-fullheight" id="about">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container is-max-desktop">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">
                        {{ i18n[page.lang].contact.title }}
                    </h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="is-size-5">
                        {{ i18n[page.lang].contact.maintext | safe }}
                    </p>
                    <div>
                        <article class="message mt-5">
                            <div class="message-body">
                                {{ i18n[page.lang].contact.phdtext | safe }}
                            </div>
                        </article>
                        <div class="mt-6">
                                {{ i18n[page.lang].contact.follow | safe }}
                            <a href="https://www.instagram.com/badhi.id/" target="_blank">Instagram</a>
                        </div>
                        <hr/>
                        <p class="is-size-6 mt-4 mb-4">
                                                            {{ i18n[page.lang].contact.link | safe }}
<br/>
                        </p>
                        <div class="mb-3">
                            <a href="https://research.undiksha.ac.id/vvip-rg/" target="_blank" class="is-size-5">VVIP Research Group</a><br/>
                        </div>
                        <div class="mb-3">
                            <a href="https://www.monash.edu/it/hcc/embodied-visualisation" target="_blank" class="is-size-5">Embodied Visualisation Group</a><br/>
                        </div>
                        <div class="mb-3">
                            <a href="https://aksalont.mudratech.org/" target="_blank" class="is-size-5">AKSALont</a><br/>
                            <small>Automatic Transliteration Application for Balinese Palm Leaf Manuscripts.</small>
                        </div>
                        <div class="mb-3">
                            <a href="https://www.virtualangkor.com/" target="_blank" class="is-size-5">Virtual Angkor</a><br/>
                            <small>Digitalisation of Angkor Wat temple. A past project of Dr. Chandler.</small>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>