<section class="hero is-fullheight" id="about">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Dashboard</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="mb-3 is-size-5">
                        The dashboard serves as the central hub for managing and visualising the collected data. It provides tools for data analysis, reporting, and monitoring the progress of archival and reconstruction campaigns.
                    </p>

                </div>
            </div>
            <figure class="image mt-4">
                <img class="img" src="assets/dashboard-ss.png" alt="Dashboard Overview"/>
            </figure>
            <div class="mt-3"> <small>Screenshots of initial version of the dashboard.</small></div>

        </div>
    </div>
</section>