<section class="hero is-fullheight" id="map">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-size-2">Temples Documentation at Scale</h1>
            <p class="is-size-5 mb-3">Creating 3D records of thousands of sacred places is crucial but it's <b>not an easy task</b>. We are committed to tackle this challenge.</p>
            
            <p></p>
            <iframe class="mt-2 mb-3" src="https://map.badhi.id" width="100%" height="800" style="border:none;border-radius:10px;box-shadow:0 10px 10px lightgray"></iframe>
            <small>
                An interactive map depicting the locations of documented temples across Bali.
                Go to the <a href="https://map.badhi.id" target="_blank" title="Bali Temples Map">map</a>. 
            </small>
        </div>
    </div>
</section>
