<section class="hero is-fullheight" id="about">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Mobile App</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="mb-3 is-size-5">
                        Our mobile application is designed to facilitate efficient video contributions in the field. It allows community members to capture high-quality videos, record audio, and input metadata directly from their mobile devices. The app is user-friendly and optimised for use in remote locations with limited connectivity.
                    </p>
                </div>
            </div>
            {% include "components/mobileapp.njk" %}
        </div>
    </div>
</section>