<section class="hero is-fullheight" id="about">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Reconstruction</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="mb-3 is-size-5">
                    Our reconstruction pipeline utilises advanced 3D Gaussian Splatting techniques to create accurate digital replicas of the temples or temple parts. This process involves selecting frames from contribution videos, processing the data to generate 3D models, and refining these models to ensure fidelity to the original structures.
                    </p>
                </div>
            </div>
            {% include "../components/reconstruction.njk" %}
        </div>
    </div>
</section>