<section class="hero is-fullheight pt-5 mt-6">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Research</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="is-size-5">
                        Our research focuses on developing innovative methods for large-scale 3D documentation of cultural heritage sites, particularly temples in Bali. We explore advanced 3D reconstruction techniques, machine learning algorithms for data processing, community-driven data collection approaches, and data visualisation. Our goal is to create sustainable and scalable solutions that can be adopted globally for heritage preservation.
                    </p>
                </div>
            </div>

            <div>
                <!-- Journal Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Journal Articles</h1>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">3D Gaussian Splatting for Archival of Balinese Temples from Community-Sourced Videos</p>
                        <p class="is-size-6 ">Anthony Wilson, Arnadi Murtiyoso, Bernhard Jenny, I Gede Mahendra Darmawiguna, Putu Hendra Suputra, Thomas Chandler, Made Windu Antara Kesiman, Kadek Ananta Satriadi</p>
                        <p class="is-size-7">IEEE International Conference on Imaging Systems and Techniques. Strasbourg, France. 2025</p>

                        <p class="mt-2">We present a novel application of 3D Gaussian Splatting (3DGS) for the large-scale archival of thousands of temples in Bali. Our project, the Bali Digital Heritage Initiative, adopts a participatory approach in which local communities collect video footage of these vulnerable temples, which we transform into 3DGS scenes to serve as digital archives.</p>
                        <div class="mt-2">URL: <a  href="https://kadeksatriadi.com/publications/badhi-pipeline/" target="_blank">visit</a></div>

                    </div>
                </div>

                <!-- end Journal Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Online Articles</h1>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">‘3D Gaussian Splatting’: Teknologi inovatif untuk membuat arsip digital 3 dimensi seluruh pura di Bali</p>
                        <p class="is-size-6 "> Kadek Ananta Satriadi, I Gede Mahendra Darmawiguna, Made Windu Antara Kesiman, Thomas Chandler, Bernhard Jenny,  Putu Hendra Suputra </p>
                        <p class="is-size-7">The Conversation Indonesia. 2025</p>

                        <p class="mt-2"><p>Teknologi ‘3D Gaussian Splatting’ bisa membuat model tiga dimensi yang lebih baik dengan cara yang lebih mudah, murah, dan efektif dibandingkan dengan metode konvensional.</p>
                        <div class="mt-2">URL: <a  href="https://theconversation.com/3d-gaussian-splatting-teknologi-inovatif-untuk-membuat-arsip-digital-3-dimensi-seluruh-pura-di-bali-244976" target="_blank">visit</a></div>
                    </div>
                </div>

            </div>
        </div>
    </section>