<section class="hero is-fullheight pt-5 mt-6">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Dissemination</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="is-size-5">
Our research on large-scale 3D documentation of cultural heritage sites, particularly Balinese temples, emphasizes comprehensive dissemination through peer-reviewed publications, conference presentations, and online articles. 
We share findings via academic journals, international symposiums, technical blogs, and educational workshops for heritage professionals.                   </p>
                </div>
            </div>

            <div>
                <!-- Journal Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Journal Articles</h1>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">3D Gaussian Splatting for Archival of Balinese Temples from Community-Sourced Videos</p>
                        <p class="is-size-6 ">Anthony Wilson, Arnadi Murtiyoso, Bernhard Jenny, I Gede Mahendra Darmawiguna, Putu Hendra Suputra, Thomas Chandler, Made Windu Antara Kesiman, Kadek Ananta Satriadi</p>
                        <p class="is-size-7">IEEE International Conference on Imaging Systems and Techniques. Strasbourg, France. 2025</p>

                        <p class="mt-2">We present a novel application of 3D Gaussian Splatting (3DGS) for the large-scale archival of thousands of temples in Bali. Our project, the Bali Digital Heritage Initiative, adopts a participatory approach in which local communities collect video footage of these vulnerable temples, which we transform into 3DGS scenes to serve as digital archives.</p>
                        <div class="mt-2">URL: <a  href="https://kadeksatriadi.com/publications/badhi-pipeline/" target="_blank">visit</a></div>

                    </div>
                </div>
                <!-- end Journal Articles -->
                <!-- Conference Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Conference Articles</h1>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">When Temples Travel: Towards Understanding Cultural Impacts of Visualizing Sacred Sites in Foreign Contexts</p>
                        <p class="is-size-6 ">I.G.M. Darmawiguna, Kadek Ananta Satriadi, Thomas Chandler, Bernhard Jenny, Made Windu Antara Kesiman, Putu Hendra Suputra, Kadek Teguh Dermanwan</p>
                        <p class="is-size-7">CHI 2026 Workshop on The Co-Living between Reality and Virtuality as a Daily Routine.</p>

                        <p class="mt-2"><b>This position paper is part of Darmawiguna's PhD</b>.While mixed reality technology offers promising opportunities to make digitized heritage sites globally accessible for education and cultural reconnection, there is a gap in empirical research on the ethical implications and real-world impact of representing sacred cultural sites in foreign contexts.</p>
                        <div class="mt-2">URL: <a  href="https://colivingvrxr.github.io/CHI2026/" target="_blank">workshop's website</a></div>

                    </div>
                </div>
                <!-- end Conference Articles -->
                <!-- Conference Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Booklets</h1>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">Bali Digital Heritage Initiative: Weaving Advanced Technology, Participatory Engagement, and Cross-Nation Education for Cultural Heritage Documentation</p>
                        <p class="is-size-6 ">Kadek Ananta Satriadi</p>
                        <p class="is-size-7">Academic Oration Booklet</p>

                        <p class="mt-2">This booklet contains an academic oration for the Open Academic Senate session at Universitas Pendidikan Ganesha, XXXIII Dies Natalis (2026).</p>
                        <div class="mt-2">URL: <a  href="https://doi.org/10.26180/31449478" target="_blank">Read or download</a></div>

                    </div>
                </div>
                <!-- end Conference Articles -->
                <!-- Online Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Online Articles</h1>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">‘3D Gaussian Splatting’: Teknologi inovatif untuk membuat arsip digital 3 dimensi seluruh pura di Bali</p>
                        <p class="is-size-6 "> Kadek Ananta Satriadi, I Gede Mahendra Darmawiguna, Made Windu Antara Kesiman, Thomas Chandler, Bernhard Jenny,  Putu Hendra Suputra </p>
                        <p class="is-size-7">The Conversation Indonesia. 2025</p>

                        <p class="mt-2"><p>Teknologi ‘3D Gaussian Splatting’ bisa membuat model tiga dimensi yang lebih baik dengan cara yang lebih mudah, murah, dan efektif dibandingkan dengan metode konvensional.</p>
                        <div class="mt-2">URL: <a  href="https://theconversation.com/3d-gaussian-splatting-teknologi-inovatif-untuk-membuat-arsip-digital-3-dimensi-seluruh-pura-di-bali-244976" target="_blank">visit</a></div>
                    </div>
                </div>
                <!-- end Online Articles -->

                <!-- Presentations Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Presentations</h1>

                   <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">Academic Oration at Universitas Pendidikan Ganesha</p>
                        <p class="is-size-6 ">An academic oration for the Open Academic Senate session at Universitas Pendidikan Ganesha, XXXIII Dies Natalis (2026).</p>
                        <div class="mt-2">URL: <a  href="https://www.youtube.com/live/TsdePCOfsYw?si=8fBX1j_fgCf_Tgla&t=2796" target="_blank">recorded video</a></div>

                    </div>



                   <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">IEEE International Conference on Imaging Systems and Techniques</p>
                        <p class="is-size-6 ">3D Gaussian Splatting for Archival of Balinese Temples from Community-Sourced Videos presented by Arnadi Murtiyoso. Strasbourg, France. 2025.</p>
                    </div>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">FIB DigiTalk 2025</p>
                        <p class="is-size-6 ">Participatory Digital Archiving of Balinese Temples presented by Kadek Ananta Satriadi. Online, 2025.</p>
                        <p class="is-size-7">FIB DigiTalk is a Digital Humanities initiative launched in 2025 by Udayana University's Faculty of Humanities. The program features experts using digital and computational methods in humanities research, representing a collaboration between the Faculty of Humanities and CIRHSS (Centre for Interdisciplinary Research on the Humanities and Social Sciences).</p>
                        <div class="mt-2">URL: <a  href="https://www.youtube.com/embed/zH_clGRlQE0?si=SjwDY4-DdbJtVaAA" target="_blank">recorded video</a></div>

                    </div>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">Undiksha Berbagi 2025</p>
                        <p class="is-size-6 ">Pemanfaatan Gaussian Splatting Untuk Digitalisasi 3D dan Preservasi Pura Bali Dalam Project BADHI presented by I Gede Mahendra Darmawiguna. Online, 2025.</p>
                        <p class="is-size-7">Undiksha Berbagi is a series of public lectures run by Universitas Pendidikan Ganesha.</p>
                                        <div class="mt-2">URL: <a  href="https://www.youtube.com/embed/LnJALbu6-ow?si=8Y3EeKuf6FRzV8Iu" target="_blank">recorded video</a></div>

                </div>
                <!-- end Presentations Articles -->

                <!-- Exhibitions Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Exhibitions</h1>
                    <div class="box p-6">
                    <div class="content">
                       <ul>
                        <li><span class="is-size-5">DTIK Festival 2026. Bali, Indonesia.</span></li>
                         <li><span class="is-size-5">Buleleng Festival 2025. 2025. Bali, Indonesia.</span></li>
                        <li><span class="is-size-5">EduTech Festival 2025. 2025. Bali, Indonesia.</span></li>
                        <li><span class="is-size-5"> Expo Inofest FTK 2025. Bali, Indonesia.</span></li>
                        <li><span class="is-size-5">Pameran Riset dan Inovasi Teknologi. 2025. Bali, Indonesia.</span></li>

                        </ul>
                    </div>
                    </div>
                </div>
                <!-- end Exhibitions Articles -->

            </div>
        </div>
    </section>