<section class="hero is-fullheight pt-5 mt-6">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Dissemination</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="is-size-5">
Our research on large-scale 3D documentation of cultural heritage sites, particularly Balinese temples, emphasizes comprehensive dissemination through peer-reviewed publications, conference presentations, and online articles. We share findings via academic journals, international symposiums, technical blogs, and educational workshops for heritage professionals. Our multi-channel approach includes open-access datasets, exhibition materials, and public outreach content to ensure our innovative 3D reconstruction techniques and machine learning methods reach researchers, practitioners, and global communities involved in cultural preservation.                    </p>
                </div>
            </div>

            <div>
                <!-- Journal Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Journal Articles</h1>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">3D Gaussian Splatting for Archival of Balinese Temples from Community-Sourced Videos</p>
                        <p class="is-size-6 ">Anthony Wilson, Arnadi Murtiyoso, Bernhard Jenny, I Gede Mahendra Darmawiguna, Putu Hendra Suputra, Thomas Chandler, Made Windu Antara Kesiman, Kadek Ananta Satriadi</p>
                        <p class="is-size-7">IEEE International Conference on Imaging Systems and Techniques. Strasbourg, France. 2025</p>

                        <p class="mt-2">We present a novel application of 3D Gaussian Splatting (3DGS) for the large-scale archival of thousands of temples in Bali. Our project, the Bali Digital Heritage Initiative, adopts a participatory approach in which local communities collect video footage of these vulnerable temples, which we transform into 3DGS scenes to serve as digital archives.</p>
                        <div class="mt-2">URL: <a  href="https://kadeksatriadi.com/publications/badhi-pipeline/" target="_blank">visit</a></div>

                    </div>
                </div>
                <!-- end Journal Articles -->
                <!-- Online Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Online Articles</h1>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">‘3D Gaussian Splatting’: Teknologi inovatif untuk membuat arsip digital 3 dimensi seluruh pura di Bali</p>
                        <p class="is-size-6 "> Kadek Ananta Satriadi, I Gede Mahendra Darmawiguna, Made Windu Antara Kesiman, Thomas Chandler, Bernhard Jenny,  Putu Hendra Suputra </p>
                        <p class="is-size-7">The Conversation Indonesia. 2025</p>

                        <p class="mt-2"><p>Teknologi ‘3D Gaussian Splatting’ bisa membuat model tiga dimensi yang lebih baik dengan cara yang lebih mudah, murah, dan efektif dibandingkan dengan metode konvensional.</p>
                        <div class="mt-2">URL: <a  href="https://theconversation.com/3d-gaussian-splatting-teknologi-inovatif-untuk-membuat-arsip-digital-3-dimensi-seluruh-pura-di-bali-244976" target="_blank">visit</a></div>
                    </div>
                </div>
                <!-- end Online Articles -->

                <!-- Presentations Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Presentations</h1>
                   <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">IEEE International Conference on Imaging Systems and Techniques</p>
                        <p class="is-size-6 ">3D Gaussian Splatting for Archival of Balinese Temples from Community-Sourced Videos presented by Arnadi Murtiyoso. Strasbourg, France. 2025.</p>
                    </div>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">FIB DigiTalk 2025</p>
                        <p class="is-size-6 ">Participatory Digital Archiving of Balinese Temples presented by Kadek Ananta Satriadi. Online, 2025.</p>
                        <p class="is-size-7">FIB DigiTalk is a Digital Humanities initiative launched in 2025 by Udayana University's Faculty of Humanities. The program features experts using digital and computational methods in humanities research, representing a collaboration between the Faculty of Humanities and CIRHSS (Centre for Interdisciplinary Research on the Humanities and Social Sciences).</p>
<iframe class="mt-3" style="width:100%" height="515" src="https://www.youtube.com/embed/zH_clGRlQE0?si=SjwDY4-DdbJtVaAA&amp;start=1080" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    <div class="box p-6">
                        <p class="has-text-weight-semibold is-size-5">Undiksha Berbagi 2025</p>
                        <p class="is-size-6 ">Pemanfaatan Gaussian Splatting Untuk Digitalisasi 3D dan Preservasi Pura Bali Dalam Project BADHI presented by I Gede Mahendra Darmawiguna. Online, 2025.</p>
                        <p class="is-size-7">Undiksha Berbagi is a series of public lectures run by Universitas Pendidikan Ganesha.</p>
<iframe style="width:100%" class="mt-3" height="515" src="https://www.youtube.com/embed/LnJALbu6-ow?si=8Y3EeKuf6FRzV8Iu&amp;start=482" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>                    </div>
                </div>
                <!-- end Presentations Articles -->

                <!-- Exhibitions Articles -->
                <div class="mb-6">
                    <h1 class="is-size-3 mb-6">Exhibitions</h1>
                    <div class="box p-6">
                    <div class="content">
                       <ul>
                        <li><span class="is-size-5">Buleleng Festival 2025. 2025. Bali, Indonesia.</span></li>
                        <li><span class="is-size-5">EduTech Festival 2025. 2025. Bali, Indonesia.</span></li>
                        <li><span class="is-size-5">Pameran Riset dan Inovasi Teknologi. 2025. Bali, Indonesia.</span></li>

                        </ul>
                    </div>
                    </div>
                </div>
                <!-- end Exhibitions Articles -->

            </div>
        </div>
    </section>