<section class="hero is-fullheight" id="about">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Technology Overview</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="mb-3 is-size-5">
                        We employ advanced digital technologies such as 3D reconstruction and virtual reality combined with human and social factors to document and preserve Bali's rich cultural heritage. Our team of experts collaborates with local communities to ensure that these technologies are used in a culturally sensitive and sustainable manner.
                    </p>
                    <p class="is-size-5">
                    With over 20 digital portfolios, our technology stack includes: mobile applications for data collection, dashboard for data management, 3D reconstruction pipeline, mixed reality for immersive experiences, and more.
                    </p>

                </div>
            </div>
            {% include "components/techstack.njk" %}
            <p>See our github page for more: <a href="https://github.com/Bali-Digital-Heritage">https://github.com/Bali-Digital-Heritage</a></p>
        </div>
    </div>
</section>