<section class="hero is-fullheight" id="about">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-size-1">Visualisations</h1>
                    <h2 class="subtitle"></h2>
                </div>
                <div class="column is-two-thirds">
                    <p class="mb-3 is-size-5">
                    We explore various visualisation techniques to present the reconstructed 3D models and associated data in engaging and informative ways. These visualisations aim to enhance understanding and appreciation of Bali's cultural heritage among diverse audiences.
                    </p>
                </div>
            </div>
            <video class="img" width="100%" controls>
                <source src="assets/avp-viewer.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="mt-2"> <small>One of the visualisation we are exploring using Apple's Vision Pro. Built using MetalSplatter.</small>
        </div>
    </div>
</section>