:root {
    --bulma-body-family: "Roboto Slab", serif;
    --bulma-link: #9E7056;
    --bulma-link-text: #9E7056;
    --bulma-primary-h: 22deg;
    --bulma-primary-s: 29%;
    --bulma-primary-l: 47%;
  }


  .img{
    border-radius:10px;
        box-shadow: 0px 0px 10px;
    }